In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
police_data = pd.read_csv('../data/police_big_data.csv')

In [3]:
print(police_data.info())
print(police_data.shape)
police_data.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936446 entries, 0 to 936445
Data columns (total 31 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Primary Key                  936446 non-null  object
 1   Incident Number              936446 non-null  int64
 2   Report Type                  936354 non-null  object
 3   Report Type Description      871039 non-null  object
 4   Incident Status Code         936410 non-null  object
 5   Incident Status Description  936410 non-null  object
 6   Investigation Status         936446 non-null  object
 7   Incident Occurred            936446 non-null  object
 8   Incident Reported            936434 non-null  object
 9   Incident Location            934070 non-null  object
 10  Latitude                     906854 non-null  float64
 11  Longitude                    906854 non-null  float64
 12  ZIP Code                     528811 non-null  float64
 13  RPA                          359497 non-null  float64
 14  Zone                         359497 non-null  float64
 15  Location Code                936435 non-null  float64
 16  Location Description         936435 non-null  object
 17  Offense Number               935834 non-null  float64
 18  Offense NIBRS                936353 non-null  object
 19  Offense Description          936446 non-null  object
 20  Weapon Primary               935044 non-null  object
 21  Weapon Description           934294 non-null  object
 22  Victim Number                936446 non-null  int64
 23  Domestic Related             936446 non-null  bool
 24  Victim Type                  936434 non-null  object
 25  Victim Description           936378 non-null  object
 26  Victim Gender                681963 non-null  object
 27  Victim Race                  681963 non-null  object
 28  Victim Ethnicity             681649 non-null  object
 29  Victim County Resident       658250 non-null  object
 30  Mapped Location              906854 non-null  object
dtypes: bool(1), float64(7), int64(2), object(21)
memory usage: 215.2+ MB
None
(936446, 31)

In [4]:
police_data.head(5)

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Weapon Description,Victim Number,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Mapped Location
0,20140395371_11,20140395371,D,DISPATCHED,O,OPEN,Open,04/21/2014 10:00:00 AM,04/25/2014 03:57:00 PM,1300 ANTIOCH PIKE,...,NONE,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,NaN
1,20200601877_11,20200601877,T,NaN,O,OPEN,Open,09/08/2020 03:37:00 PM,09/19/2020 12:35:00 PM,ABBOTT MARTIN RD,...,NONE,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.82 36.11)
2,20200207063_12,20200207063,D,DISPATCHED,U,UNFOUNDED,Closed,03/23/2020 08:27:00 AM,03/23/2020 10:51:00 AM,1000 HICKORY HILL LN,...,NONE,2,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.63 36.188)
3,20200526573_11,20200526573,D,DISPATCHED,O,OPEN,Open,08/15/2020 12:00:00 PM,08/15/2020 04:51:00 PM,ROSA L PARKS BLVD,...,CLUB,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.79 36.18)
4,20160098162_11,20160098162,T,NaN,U,UNFOUNDED,Closed,01/27/2016 12:00:00 PM,01/30/2016 11:32:00 AM,200 JACKSONIAN DR,...,NONE,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Hispanic,RESIDENT,NaN

In [5]:
police_data.dtypes

Primary Key                     object
Incident Number                  int64
Report Type                     object
Report Type Description         object
Incident Status Code            object
Incident Status Description     object
Investigation Status            object
Incident Occurred               object
Incident Reported               object
Incident Location               object
Latitude                       float64
Longitude                      float64
ZIP Code                       float64
RPA                            float64
Zone                           float64
Location Code                  float64
Location Description            object
Offense Number                 float64
Offense NIBRS                   object
Offense Description             object
Weapon Primary                  object
Weapon Description              object
Victim Number                    int64
Domestic Related                  bool
Victim Type                     object
Victim Description              object
Victim Gender                   object
Victim Race                     object
Victim Ethnicity                object
Victim County Resident          object
Mapped Location                 object
dtype: object

In [6]:
police_data.value_counts('Weapon Description')

Weapon Description
NONE                         598160
PERSONAL (HANDS)             149887
Unarmed                       60269
HANDGUN                       47951
CLUB                          23489
OTHER                         16665
LETHAL/CUTTING INSTRUMENT     13256
HANDGUN - SEMIAUTOMATIC        7801
MOTOR VEHICLE                  5473
DRUGS                          4144
REVOLVER                       2264
RIFLE                          1398
OTHER FIREARM                  1294
SHOTGUN                        1174
FIRE/INCENDIARY DEVICES         706
EXPLOSIVES                      203
ASPHYXIATION                     95
POISON                           65
dtype: int64

SyntaxError: invalid syntax (<ipython-input-7-c1d291920365>, line 1)

In [8]:
#def extract_date(date)
keep_dates = []
for f in police_data['Incident Occurred']:
    if f >= '02/1/2020 12:00:01 AM' and f <= '04/3/2020 12:00:01 AM':
        keep_dates.append(True)
    else:
        keep_dates.append(False)
    #append it to a list

In [9]:
police_data['Incident Occurred']

#slicing

0         04/21/2014 10:00:00 AM
1         09/08/2020 03:37:00 PM
2         03/23/2020 08:27:00 AM
3         08/15/2020 12:00:00 PM
4         01/27/2016 12:00:00 PM
                   ...
936441    03/21/2020 05:39:00 PM
936442    06/17/2020 08:00:00 AM
936443    07/08/2020 08:00:00 PM
936444    06/28/2020 08:42:00 PM
936445    07/22/2020 02:37:00 AM
Name: Incident Occurred, Length: 936446, dtype: object

In [10]:
keep_dates

[True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [11]:
police_data['keep_dates'] = keep_dates

In [12]:
police_data.head(2)

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Victim Number,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Mapped Location,keep_dates
0,20140395371_11,20140395371,D,DISPATCHED,O,OPEN,Open,04/21/2014 10:00:00 AM,04/25/2014 03:57:00 PM,1300 ANTIOCH PIKE,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,True
1,20200601877_11,20200601877,T,NaN,O,OPEN,Open,09/08/2020 03:37:00 PM,09/19/2020 12:35:00 PM,ABBOTT MARTIN RD,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.82 36.11),False

In [13]:
police_data.dtypes

Primary Key                     object
Incident Number                  int64
Report Type                     object
Report Type Description         object
Incident Status Code            object
Incident Status Description     object
Investigation Status            object
Incident Occurred               object
Incident Reported               object
Incident Location               object
Latitude                       float64
Longitude                      float64
ZIP Code                       float64
RPA                            float64
Zone                           float64
Location Code                  float64
Location Description            object
Offense Number                 float64
Offense NIBRS                   object
Offense Description             object
Weapon Primary                  object
Weapon Description              object
Victim Number                    int64
Domestic Related                  bool
Victim Type                     object
Victim Description              object
Victim Gender                   object
Victim Race                     object
Victim Ethnicity                object
Victim County Resident          object
Mapped Location                 object
keep_dates                        bool
dtype: object

In [16]:
npd = police_data[police_data['keep_dates'] == True]
npd.head(20)

,Primary Key,Incident Number,Report Type,Report Type Description,Incident Status Code,Incident Status Description,Investigation Status,Incident Occurred,Incident Reported,Incident Location,...,Victim Number,Domestic Related,Victim Type,Victim Description,Victim Gender,Victim Race,Victim Ethnicity,Victim County Resident,Mapped Location,keep_dates
0,20140395371_11,20140395371,D,DISPATCHED,O,OPEN,Open,04/21/2014 10:00:00 AM,04/25/2014 03:57:00 PM,1300 ANTIOCH PIKE,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,True
2,20200207063_12,20200207063,D,DISPATCHED,U,UNFOUNDED,Closed,03/23/2020 08:27:00 AM,03/23/2020 10:51:00 AM,1000 HICKORY HILL LN,...,2,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.63 36.188),True
7,20140334084_21,20140334084,S,SUSPECT,A,CLEARED BY ARREST,Closed,04/08/2014 03:18:00 PM,04/08/2014 08:45:00 PM,1300 W H DAVIS DR,...,1,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.818 36.171),True
8,20170264793_11,20170264793,T,NaN,O,OPEN,Open,03/01/2017 03:00:00 PM,03/24/2017 12:04:00 PM,LEBANON PIKE,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.62 36.2),True
10,20160326005_33,20160326005,D,DISPATCHED,O,OPEN,Open,04/09/2016 05:50:00 AM,04/09/2016 06:48:00 AM,N DUPONT AVE,...,3,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.7 36.27),True
14,20200163017_11,20200163017,D,DISPATCHED,O,OPEN,Open,03/06/2020 06:00:00 AM,03/06/2020 06:25:00 PM,HARDING PL,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.69 36.09),True
22,20140425539_21,20140425539,D,DISPATCHED,O,OPEN,Open,04/28/2014 03:00:00 PM,05/04/2014 07:34:00 PM,3258 BRICK CHURCH PIKE,...,1,True,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,NaN,True
33,20140399257_11,20140399257,S,SUSPECT,U,UNFOUNDED,Closed,04/26/2014 07:20:00 PM,04/26/2014 11:00:00 PM,3458 DICKERSON PIKE &,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,True
40,20140455571_11,20140455571,D,DISPATCHED,A,CLEARED BY ARREST,Closed,02/17/2014 04:00:00 PM,05/13/2014 10:05:00 PM,1584 N GALLATIN PIKE &,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,NaN,True
44,20170273485_11,20170273485,S,SUSPECT,O,OPEN,Open,03/27/2017 04:30:00 PM,03/27/2017 05:00:00 PM,E TRINITY LN,...,1,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.75 36.2),True
46,20200137333_11,20200137333,T,NaN,O,OPEN,Open,02/26/2020 10:00:00 AM,02/26/2020 11:13:00 AM,CHARLOTTE PIKE,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.88 36.14),True
50,20140425509_11,20140425509,D,DISPATCHED,U,UNFOUNDED,Closed,02/23/2014 03:00:00 PM,05/04/2014 06:57:00 PM,5300 HICKORY HOLLOW PKWY,...,1,False,I,INDIVIDUAL (18 AND OVER),F,W,Hispanic,UNKNOWN,NaN,True
53,20200108499_11,20200108499,T,NaN,O,OPEN,Open,02/14/2020 10:40:00 AM,02/14/2020 10:40:00 AM,HARDING PL,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.85 36.09),True
65,20130263768_11,20130263768,T,NaN,O,OPEN,Open,03/19/2013 03:00:00 PM,03/19/2013 07:10:00 PM,OLD HICKORY BLVD,...,1,False,I,INDIVIDUAL (18 AND OVER),M,W,Non-Hispanic,RESIDENT,POINT (-86.92 36.08),True
76,20160134796_11,20160134796,T,NaN,O,OPEN,Open,02/10/2016 12:25:00 PM,02/10/2016 02:24:00 PM,MURFREESBORO PIKE,...,1,False,B,BUSINESS,NaN,NaN,NaN,NaN,POINT (-86.65 36.09),True
85,20130252834_21,20130252834,D,DISPATCHED,R,REFUSED TO COOPERATE,Closed,03/16/2013 07:00:00 AM,03/16/2013 07:42:00 AM,&,...,1,True,I,INDIVIDUAL (18 AND OVER),F,B,Non-Hispanic,RESIDENT,NaN,True
89,20130136428_11,20130136428,S,SUSPECT,A,CLEARED BY ARREST,Closed,02/11/2013 12:50:00 PM,02/11/2013 01:28:00 PM,LONSWAY CIR & OWENDALE DR,...,1,False,S,SOCIETY,NaN,NaN,NaN,NaN,NaN,True
90,20170171934_23,20170171934,D,DISPATCHED,O,OPEN,Open,02/22/2017 12:45:00 PM,02/22/2017 02:16:00 PM,KINGS LN,...,3,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.82 36.22),True
91,20130195120_11,20130195120,S,SUSPECT,A,CLEARED BY ARREST,Closed,02/28/2013 01:50:00 AM,02/28/2013 02:11:00 AM,1800 JEFFERSON ST,...,1,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.807 36.17),True
94,20130179741_22,20130179741,D,DISPATCHED,P,PROSECUTION DECLINED,Closed,02/20/2013 08:00:00 AM,02/23/2013 02:42:00 PM,100 WOODMONT BLVD,...,2,False,S,SOCIETY,NaN,NaN,NaN,NaN,POINT (-86.846 36.123),True