In [19]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
winds_of_march_phone = gpd.read_file('../data/911_Phone_Calls_Tornado_030320.csv')

In [33]:
print(winds_of_march_phone.shape)
print(winds_of_march_phone.info())
winds_of_march_phone.head(5)

(475, 6)
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Seizure DateTime    475 non-null    object
 1   CallTypeId          475 non-null    object
 2   ALI Latitude        475 non-null    object
 3   ALI Longitude       475 non-null    object
 4   Cell Tower Address  475 non-null    object
 5   geometry            0 non-null      geometry
dtypes: geometry(1), object(5)
memory usage: 22.4+ KB
None

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address,geometry
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector,None
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE,None
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector,None
3,3/3/2020 0:36,911 Calls,,,526 FOUNDRY DR,None
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N,None

In [12]:
print(winds_of_march_phone.crs)

None

In [21]:
winds_of_march_phone_gpd = gpd.GeoDataFrame(winds_of_march_phone, geometry = gpd.points_from_xy(winds_of_march_phone.ALI Longitude, winds_of_march_phone.ALI Latitude))

SyntaxError: invalid syntax (<ipython-input-21-333ded6b41fe>, line 1)

In [20]:
public_art_gpd = gpd.GeoDataFrame(nashville_art, geometry = gpd.points_from_xy(nashville_art.Longitude, nashville_art.Latitude))

TypeError: 'GeoDataFrame' object is not callable

In [5]:
may_calls = gpd.read_file('../data/911_Phone Calls_Derecho_050320 050420.csv')

In [34]:
print(may_calls.shape)
print(may_calls.info())
may_calls.head(5)

(1549, 6)
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Seizure DateTime    1549 non-null   object
 1   CallTypeId          1549 non-null   object
 2   ALI Latitude        1549 non-null   object
 3   ALI Longitude       1549 non-null   object
 4   Cell Tower Address  1549 non-null   object
 5   geometry            0 non-null      geometry
dtypes: geometry(1), object(5)
memory usage: 72.7+ KB
None

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address,geometry
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER,None
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE,None
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N,None
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW,None
4,5/3/2020 16:31,911 Calls,36.14238,-86.881882,3744B ANNEX AVE - SE,None

In [13]:
print(may_calls.crs)

None

In [37]:
winds_of_march_ai = pd.read_csv('../data/ai_march.csv', skiprows = 3)
print(winds_of_march_ai.info())
print(winds_of_march_ai.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IncidentDate              260 non-null    object
 1   Location                  260 non-null    object
 2   Latitude1                 260 non-null    float64
 3   Longitude1                260 non-null    float64
 4   IncidentTypeDescription1  260 non-null    object
dtypes: float64(2), object(3)
memory usage: 10.3+ KB
None
(260, 5)

In [38]:
may_calls_ai = pd.read_csv('../data/AI_may.csv', skiprows = 3)
print(may_calls_ai.info())
print(may_calls_ai.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IncidentDate              627 non-null    object
 1   Location                  627 non-null    object
 2   Latitude1                 627 non-null    float64
 3   Longitude1                627 non-null    float64
 4   IncidentTypeDescription1  627 non-null    object
dtypes: float64(2), object(3)
memory usage: 24.6+ KB
None
(627, 5)

In [29]:
may_calls_ai.head(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD

In [31]:
winds_of_march_ai.head(5)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD

In [ ]:
to be continued...

In [42]:
winds_of_march_phone.CallTypeId.value_counts()

911 Calls    475
Name: CallTypeId, dtype: int64

In [43]:
winds_of_march_ai.IncidentTypeDescription1.value_counts()

GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD    27
OUTSIDE ODOR                                   26
WIRES DOWN WITH NO SMOKE OR ARCING             17
SMALL BUILDING INVESTIGATION                   15
ELECTRICAL HAZARD WITH OR NEAR WATER           12
                                               ..
CONFINED SPACE ENTRAPMENT  CONFIRMED            1
TRANSFORMER OUTSIDE  WIRE OR POLE               1
MEDICAL ALARM NOTIFICATION                      1
DIZZINESS / VERTIGO                             1
REQUEST ADDITIONAL FIRE RESOURCES               1
Name: IncidentTypeDescription1, Length: 90, dtype: int64

In [44]:
may_calls_ai.IncidentTypeDescription1.value_counts()

ELECTRICAL HAZARD                              370
GENERAL ALARM COMMERCIAL   INDUSTRIAL BUILD     23
MVA INJURIES:                                    8
SMALL BUILDING INVESTIGATION                     6
CARBON MONOXIDE ALARM HOUSE                      6
                                              ...
LIGHTNING STRIKE TO HOUSE                        1
OVERDOSE - ACCIDENTAL NO PRIORITY SYMPTOMS       1
3RD TRIMESTER HEMORRHAGE                         1
DIZZINESS / VERTIGO                              1
WATERFLOW ALARM APARTMENT                        1
Name: IncidentTypeDescription1, Length: 122, dtype: int64

In [45]:
may_calls.CallTypeId.value_counts()

911 Calls    1549
Name: CallTypeId, dtype: int64

In [46]:
may_calls_ai['IncidentDate'].astype('datetime64[ns]')

0     2020-05-03 16:31:07
1     2020-05-03 16:32:18
2     2020-05-03 16:32:23
3     2020-05-03 16:33:04
4     2020-05-03 16:33:52
              ...
622   2020-05-04 00:21:00
623   2020-05-04 00:21:32
624   2020-05-04 00:22:47
625   2020-05-04 00:27:52
626   2020-05-04 00:29:50
Name: IncidentDate, Length: 627, dtype: datetime64[ns]

In [48]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
zipcodes.head(5)

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

#ok now that I have all of my data up and loaded its time to make a map


ax = zipcodes.plot(figsize = (8, 10))
may_calls_ai.plot(ax = ax, column = '');
plot.show();

In [ ]:
# alright that didnt work because my_calls_ai is not a point so ill have to change that

In [57]:
may_calls_ai['geometry'] = may_calls_ai.apply(lambda x: Point((float(x.Longitude1), 
                                                         float(x.Latitude1))), 
                                        axis=1)

may_calls_ai.head(2)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1,geometry
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD,POINT (-86.96252641 36.04687715)
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD,POINT (-86.94067952 36.08249081)

In [59]:

may_calls_ai = gpd.GeoDataFrame(may_calls_ai, 
                           crs = zipcodes.crs, 
                           geometry = may_calls_ai['geometry'])

In [60]:
type(may_calls_ai)

geopandas.geodataframe.GeoDataFrame

In [ ]:
# is it neccessary to merge and do these next few steps? add to list of questions

In [62]:
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

In [63]:
may_ai = gpd.sjoin(may_calls_ai, zipcodes, op = 'within')

In [64]:
may_ai.head(2)

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1,geometry,index_right,zip,po_name
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD,POINT (-86.96253 36.04688),7,37221,NASHVILLE
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD,POINT (-86.94068 36.08249),7,37221,NASHVILLE

In [65]:
may_ai['zip'].value_counts()

37211    79
37076    61
37205    57
37013    56
37214    37
37215    34
37204    29
37217    27
37221    27
37210    26
37212    25
37209    25
37207    20
37203    20
37220    19
37115    15
37216    12
37208    12
37206     9
37027     8
37138     6
37218     6
37072     5
37080     3
37228     2
37189     1
37201     1
37219     1
37143     1
37232     1
Name: zip, dtype: int64

In [ ]:
ax = polygon37207.plot(figsize = (8, 10), color = 'lightgreen')
stops_in_37207.plot( ax = ax, column = 'route');
plt.show();